# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build
client/build/
dist/

# Environment variables
.env
server/.env
client/.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Vercel / Render
.vercel
